#board {
    width: 700px;
    height: 600px;
}

.empty {
    width: 100px;
    height: 100px;
    float: left;
    border-radius: 10px;
    background: #B2B2B2;
}

.red {
    width: 100px;
    height: 100px;
    float: left;
    background: #FF3300;
    border-radius: 10px;
}

.blue {
    width: 100px;
    height: 100px;
    float: left;
    background: #3366FF;
    border-radius: 10px;
}
